<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pagetitle %></title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>E-commerece Website</header>
    <nav>
        <ul>
            <li>
                <a href = "/">Home</a>
            </li>
            <li><a href="/products/add">Users</a></li>
        </ul>
    </nav>
    <main>
        <div class="container row col-md-12"></div>
        <h2>Add Product</h2>
        <form method="POST" action="/products/add">
        <p>
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" />
        </p>
        <p><button>Add Product</button></p>
    </form>
    </div>
    </main>
   
</body>
</html>